<div class="d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                類別
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">全部顯示</a></li>
                <li><a class="dropdown-item" href="#">家居物業</a></li>
                <li><a class="dropdown-item" href="#">交通出行</a></li>
                <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
                <li><a class="dropdown-item" href="#">餐飲食品</a></li>
                <li><a class="dropdown-item" href="#">其他</a></li>
            </ul>
        </div>

        <div>
            <span>總金額</span>
            <div id="totalAmount">
            </div>

            //show records
            <ul class="list-group list-group-horizontal">
                {{#each record}}
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">{{this.name}}</li>



                
                <li class="list-group-item">A third item</li>
            </ul>

            <div id="statement">
            </div>
            <a href="/records/new" class="btn btn-success">新增支出</a>
        </div>
    </div>


</div>