<form action="records/new" method="post">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="name" class="col-form-label">名稱</label>
        </div>
        <div class="col-auto">
            <input type="text" id="name" class="form-control" required>
        </div>
    </div>
    <button type="submit">新增支出</button>
</form>